<div style="border: solid black; display: flexbox; width: fit-content;">
    <form method="post" (submit)="upload()" [formGroup]="form">
        <table>
            <tr>
                <td>Name: </td>
                <td>
                    <input type="text" size="20" placeholder="Name" formControlName="name">
                </td>
            </tr>
            <tr>
                <td>Title: </td>
                <td>
                    <input type="text" size="20" placeholder="Title" formControlName="title">
                </td>
            </tr>
            <tr>
                <td>Comments:</td>
                <td>
                    <textarea name="comments" id="comments" cols="20" rows="10" placeholder="Your comments in here" formControlName="comments"></textarea>
                </td>
            </tr>
            <tr>
                <td>Archive: </td>
                <td>
                    <input type="file" formControlName="archive" #file>
                </td>
            </tr>
            <br>
            <tr>
                <td></td>
                <td>
                    <button [routerLink]="['/']">Cancel</button>
                    &nbsp;
                    <button type="submit" [disabled]="form.invalid">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>
